/* author: plainee
::-webkit-scrollbar 滚动条整体部分，可以设置宽度啥的
::-webkit-scrollbar-button 滚动条两端的按钮
::-webkit-scrollbar-track 外层轨道
::-webkit-scrollbar-track-piece 内层滚动槽
::-webkit-scrollbar-thumb 滚动的滑块
::-webkit-scrollbar-corner 边角
::-webkit-resizer 定义右下角拖动块的样式
*/
:root {
  --main: rgb(90, 120, 40);
  --dark: rgba(0, 0, 0, 0.2)
}
::-webkit-scrollbar {
    width: 15px;
    height: 15px;
    min-height: 15px;
}
/* 婊戝潡鏁翠綋璁剧疆*/
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 1px solid transparent;
}

::-webkit-scrollbar-track {
    box-shadow: 1px 1px 5px rgb(20, 20, 20) inset;
}

::-webkit-scrollbar-thumb {
    background-color: var(--dark);
    background-clip: content-box;
    box-shadow: 0 0 0 2px var(--main) inset;
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--main);
}
::-webkit-scrollbar-thumb:active {
    background-color: rgb(100, 150, 100);
    box-shadow: 0 0 0 0px var(--main) inset;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: var(--main);
}
